#map {
    height: 100%;
    width: 100%;
    display: block;
}

.scroll {
    height: 100%;
}

#address_map {
    position: absolute;
    left: 12%;
    bottom: 10%;
    right: 12%;
    z-index: 2;
    background: rgba(33,33,33 ,.9);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.d-hidden{
    display: none;
}

ng-map{
    width: 100%;
    height: 100% !important;
    display: block !important;
    z-index: 1;
}
#save_favorite_map{
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    background: rgba(33,33,33 ,.8);
    color: #fff;
    padding: 10px;
}
